body{
    direction: rtl;
    font-family: iransans;
    font-size: 18px;
    background-image: url('../images/loginback.jpg');
    background-size: cover;
    
    
}
.main{
    margin: 50px auto 0;
    width: 600px;
    background-color: #3498db;
}
img,form{
    padding-top: 10px;
    display: block;
    text-align: center;
}
form input{
    font-family: iransans;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#errorMessage{
    text-align: center;
    color: #ecf0f1;
}